* {
    text-shadow: none !important;
}
.post_region_box {
    box-shadow: none;
    margin: 10px 0;
}
.post_region_box .post_region_content {
    padding: 20px;
}
.post_region_box .post_region_content h1.post_region_title {
    font-size: 26px;
}
.post_region_box .post_region_content .post_region_text {
    margin: 25px 0;
}
.page_feed .page_feed_bucket_header {
    background: #eee;
    border: none;
}
.page_feed .page_feed_bucket_header {
    text-shadow: none;
}
.btn-primary {
    background: hsl(267, 100%, 37%);
    border: none;
    box-shadow: none;
}
.post_region_box .post_region_actions .post_action.main {
    font-weight: normal;
}
.page_feed .feed_item {
    border-bottom: none;
}
.top_bar .career_notification, .top_bar .top_bar_notification {
    background: #f22;
    font-weight: bold;
}
.top_bar .global_notifications {
    background: #f22;
    color: #fff;
    font-weight: bold;
}
.page_feed .feed_item .metadata .icons .new_activity_icon {
    background: #f22;
    font-weight: bold;
}
.post_region_box .post_region_content .clarifying_discussion.unresolved .resolve_unresolve_actions {
    background: #f22;
}
.page_feed .feed_item .metadata .icons .feed_icon:not(.new_activity_icon), .post_icon {
    filter: saturate(250%);
}
.page_feed .feed_item.unread .unread_indicator {
    background: hsl(267, 100%, 37%);
}
.page_feed .feed_item .unread_indicator {
    width: 8px;
}
.page_feed .feed_item .content .private_icon .private_icon_indicator.inst_note {
    background: #f8b01e;
    filter: saturate(250%);
}
.page_feed .feed_item:hover .feed_item_dropdown_selector .feed_item_dropdown_arrow, .page_feed .feed_item:hover .feed_item_dropdown_selector .feed_item_dropdown_arrow:hover {
    background: hsl(267, 100%, 37%);
}
.page_feed .feed_item:hover .feed_item_dropdown_selector .feed_item_dropdown_arrow {
    opacity: 1;
}
.page_feed .feed_item .feed_item_dropdown_selector ul {
    box-shadow: 2px 2px 8px #888;
    border-radius: 0;
    border: none;
}
.page_feed .feed_item .feed_item_dropdown_selector li.disabled {
    border: none;
}
.page_feed .feed_item .feed_item_dropdown_selector li {
    border-bottom: none;
}
.top_bar .navbar-inner, .top_bar .nav.dark_nav {
    background: hsl(267, 100%, 37%) !important;
}
.page_feed .feed_item.has_unresolved_followups .content .messages .unresolved_followups {
    display: block;
    text-transform: lowercase;
    color: #f66;
}
#history_slider .slider_wrapper .slider-selection {
    background: #bbb;
    box-shadow: none;
}
.slider-red {
    box-shadow: none;
    background: #f66;
}
#history_slider .slider_wrapper .slider-handle {
    background: hsl(267, 100%, 37%);
    border: none;
    box-shadow: 2px 2px 8px #aaa;
    border-radius: 5px;
}
#history_slider #question_history_slider_wrapper {
    border: unset;
}
.dashboard_toolbar {
    background: #eee;
}
.page_feed .page_feed_tool_bar {
    border: none;
}
.page_feed .page_feed_search_wrapper #new_post_button {
    line-height: 20px;
}
.page_feed .page_feed_search_wrapper .search_bar {
    box-shadow: none;
    border: none;
    padding-bottom: 1px;
    margin: 7px 3px 7px 0;
}
.page_feed .page_feed_search_wrapper {
    background: #ccc;
}
.post_region_box .post_region_actions .post_action {
    color: hsl(267, 100%, 37%);
}
.post_region_box .post_region_actions .post_actions_number {
    border: none;
    color: #999;
}
.tag.folder {
    color: hsl(267, 100%, 60%);
    background: hsl(267, 100%, 90%);
}
#popular_tags_bar .popular_tag_number {
    color: hsl(267, 100%, 60%);
    background: hsl(267, 100%, 90%);
}
#popular_tags_bar .folder_icon {
    filter: hue-rotate(45deg) saturate(500%);
}
.top_bar .my_pic .white_border img {
    filter: hue-rotate(45deg) saturate(500%);
}
a, .post_region_box a {
    color: hsl(267, 100%, 37%);
}
#page_main .views {
    background: #eee;
}
.post_region_box .post_region_header .post_view_count {
    text-shadow: none;
    background: none;
    color: #999;
}
.post_region_box .post_region_header .post_view_count span {
    line-height: 1.4;
}
.post_region_box .post_region_header .post_subtitle {
    display: none;
}
#special_mentions {
    text-shadow: none;
    border: none;
    height: 54px;
}
.special_mentions_visibility {
    border: none;
    width: 30px;
    line-height: .7;
}
body, #special_mentions h3, #history_slider, .tag, input, button, select, textarea, .page_feed .page_feed_search_wrapper .search_bar input[type="text"] {
    font-family: Overpass;
}
.post_region_box .post_region_header {
    border: none;
}
label, input, button, select, textarea {
    line-height: 2.3
}
.slider-tick {
    border: none;
    width: 4px;
    background: #aaa;
}
.top_bar .nav > li > a {
    color: hsl(267, 100%, 90%);
}
.page_feed .feed_item .content .title {
    color: #000;
    font-weight: 600;
}
.page_feed .page_feed_tool_bar, #popular_tags_bar .tag {
    color: #777;
}
.page_feed .page_feed_tool_bar .page_feed_options {
    filter: hue-rotate(45deg) saturate(500%);
}
